/* Ajoutez ces styles à votre fichier App.css existant */

/* Styles supplémentaires pour réduire les marges dans les composants spécifiques */
.MuiToolbar-root {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

/* Assurer que les conteneurs prennent toute la largeur disponible */
.MuiContainer-root.MuiContainer-maxWidthLg,
.MuiContainer-root.MuiContainer-maxWidthMd,
.MuiContainer-root.MuiContainer-maxWidthSm,
.MuiContainer-root.MuiContainer-maxWidthXl {
  max-width: 100% !important;
  width: 100% !important;
}

